html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

.drawspace{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 60%;
    
}
.color{
  margin: 10px auto;
}
#toolBox{
  width: 100%;
  background-color: lightgray;
  position:absolute;
  top: 0;
  padding: 15px;
  margin: 0 auto;
  border: 4px solid black;
  display: flex;
  justify-content: center;
  gap: 5%;
  border-radius: 10px;
}
.utilityTools{
  display: flex;
  justify-content: space-evenly;
}
#canvas {
  cursor: pointer;
  background-color: white;
  border: 2px solid black;
  padding: 0;
}

#eraser{
  background-color: lightpink;
  margin: 10px auto;
  margin-right: 20px;
  height: 30px;
  width: auto;
  display: block;
}
#clearAll{
  font-size: 15px;
  background-color: whitesmoke;
  margin: 10px auto;
  height: 30px;
  display: block;
}
#black{
  color: white;
  background: black;
  width: 30px;
  height: 30px;
}
#red{
  color:white;
  background: red;
  width: 30px;
  height: 30px;
}
#blue{
  color: white;
  background: blue ;
  width: 30px;
  height: 30px;
}
#green{
  color: white;
  background: green;
  width: 30px;
  height: 30px;
}
#pink{
  color: white;
  background: pink;
  width: 30px;
  height: 30px;
}
#brown{
  color: white;
  background: brown;
  width: 30px;
  height: 30px;
}
#yellow{
  color: white;
  background: yellow;
  width: 30px;
  height: 30px;
}
#orange{
  color: white;
  background: orange;
  width: 30px;
  height: 30px;
}
#purple{
  color: white;
  background: purple;
  width: 30px;
  height: 30px;
}
.slideContainer{
  display: flex;
}
.slideContainer label{
  margin: auto;
  font-size: 18px;
}
.slideContainer p{
  width: 20px;
  background:white;
  text-align: center;
  border: 1px solid white;
  border-radius: 50px;
}
.color:hover,
.color:focus{
  cursor: pointer;
}
#eraser:hover,
#eraser:focus{
  cursor: pointer;
}
#clearAll:hover,
#clearAll:focus{
  cursor: pointer;
}
@media(max-width:905px){
  #toolBox{
    width: 150px;
    flex-direction: column;
    justify-content: center;
  }
  .utilityTools{
  justify-content: center;
  flex-direction: column;
}
.colorPalate{
 margin: 0 auto;
 display: flex;
 flex-wrap: wrap;
 flex-basis: 33%;
 justify-content: space-between;
}
#clearAll{
  width: 100%;
}
#eraser{
  width: 100%;
}
.color{
  margin: 10px 0;
}
.slideContainer{
  flex-direction: column;
}
#currentSize{
  margin:5px auto;
}
}